body {
  background-color: #21c3ff;
}
h1 {
  text-align: center;
  color: white;
  font-family: fantasy;
  font-size: 60pt;
}
h4 {
  text-align: center;
  color: white;
  font-family: fantasy;
  font-size: 20pt;
}
#FoxMeme {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
a {
  text-align: center;
  color: orange;
  font-family: fantasy;
  font-size: 15pt;
}
NavBar {
  border: 1px;
}
