body {
  background-color: #66e8ff;
}
* {
  text-align: center;
  color: white;
  font-family: fantasy;
  font-size: 20pt;
}
p {
  text-align: center;
}
ul {
  text-align: center;
  list-style: none;
  border: 1px solid purple;
  border-collapse: collapse;
  border-radius: 10px;
  background-color: white;
}
ol {
  list-style: none;
}
li {
  font-family: monospace;
  color: #2ac137;
  text-align: center;
  font-size: 15pt;
}
.NavBar {
  text-align: center;
  text-decoration: none;
  font-family: fantasy;
  font-size: 12pt;
}
#pg3meme {
position: relative;
  height: 200px;
  width: 200px;
  left:200px;
  bottom: 200px;
}
#trollface {
position: relative;
  height: 150px;
  width: 250px;
  left:250px;
  bottom: 250px;
}
#footer {
  font-size: 10pt;
}
#AIT{
  font-size: 10pt;
}
#AIT:hover {
  color: blue;
}
#email{
  font-size: 10pt;
}
#email:hover {
  color: blue;
}
.info {
  font-family: monospace;
  color: #2ac137;
  text-align: center;
  font-size: 15pt;
  padding: 10px 50px;
}
a[href="https://www.instagram.com/"] {
  font-family: monospace;
  font-size: 15pt;
}
a[href="https://www.instagram.com/"]:hover {
  color: blue;
}
#Reddit{
  font-family: monospace;
  font-size: 15pt;
  text-decoration: none;
}
#Reddit:hover {
  color: blue;
}
#Youtube{
  font-family: monospace;
  font-size: 15pt;
  text-decoration: none;
}
#Youtube:hover {
  color: blue;
}
#Instagram{
  font-family: monospace;
  font-size: 15pt;
  text-decoration: none;
}
#Instagram:hover {
  color: blue;
}
#TikTok{
  font-family: monospace;
  font-size: 15pt;
  text-decoration: none;
}
#TikTok:hover {
  color: blue;
}
#gag {
  font-family: monospace;
  font-size: 15pt;
  text-decoration: none;
}
#gag:hover {
  color: blue;
}
h3 {
  font-size: 10pt;
  font-family: sans-serif;
  color: black;
}
h3.round span{
    border: 4px solid #fc463c;
    border-radius: 12px;
    background-color: #ff928c;
}
h3.button:hover {
  background-color: #ffd1ce;
}

h3.button {
  border-style: solid;
  border-radius: 12px;
  border-color: #ba0000;
  background-color: #fc463c;
  height: 20px;
}
li > a {
    color: #ea0000;
}
h2.round span{
    border: 4px solid #023944;
    border-radius: 12px;
    background-color: #1da0ba;
}
h2.button:hover {
  background-color: #89e2f4;
}

h2.button {
  border-style: solid;
  b,,,order-radius: 12px;
  border-color: #023944;
  background-color: #1da0ba;
  height: 20px;
}
h2 {
  font-size: 15px;
  font-family:sans-serif;
}
#term {
  width: 40%;
  padding: 25px;
  font-family: monospace;
  color: #2ac137;
  text-align: center;
  font-size: 15pt;
}
